/target/
/work/
/node_modules/
/.rho/
/.Rproj.user/
.Rhistory
.RData
.DS_Store
*.log
/desktop/resources/runtime/ark.exe
/desktop/resources/runtime/LICENSE
/desktop/resources/runtime/NOTICE
/desktop/src-tauri/gen/
